<h2>Search Books</h2>

<ul class="books">
  <li *ngFor="let book of books"
    [class.selected]="book === selectedBook"
    (click)="onSelect(book)">
    <span class="badge">{{book.id}}</span> {{book.name}}
  </li>
</ul>

<div class="card" *ngIf="selectedBook">
  <div class="card-body">
  <h2>{{selectedBook.name | uppercase}} Details</h2>
  <div><span>ID: </span>{{selectedBook.id}}</div>
    <div><span>Title: </span>{{selectedBook.name}}</div>
    <div><span>Price: </span>{{selectedBook.price}}</div>
  <button class="btn-success" (click)="addToCart(selectedBook)">Add to Cart</button>
    <!--rating and commenting page Feature-5-->
    <app-rating [bookName]="selectedBook.name" [bookId]="selectedBook.id" *ngIf="review" (close)="closeEvent()"></app-rating>

  </div>
  <!--write a Review Feature-5-->
  <button type = "button"
          class="btn btn-success"
          (click)="writeReview()">
    Write A Review
  </button>
  </div>


