<div class="backdrop" (click)="onClose()"></div>
<div class="rating-box">

  <div class="sideBar">
    <img class="image" src="https://prodimage.barnesandnoble.com/pimages/9780545791427_p0_v4_s550x406.jpg">
    <p class="info">book-info works!</p>
    <p class="info">{{ bookName }}</p>
    <p class="info">ID {{ bookId }}</p>
    <p class="info">Author</p>
    <p class="info">Year</p>
  </div>

  <div class = "title">
    <h3>My Review for {{bookId}}</h3>
  </div>

  <!-- 5 stars  -->

  <div class="rate">
    <h4>Overall Rating</h4>
    <input type="radio" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>




  <div class="Review_TitleBox">
    <h4>Review Title:</h4>
    <input
      type="text"
      name="title"
      size="51"
      maxlength="30" />

  </div>

  <div class="comment-box">

    <p>Review</p>
    <textarea
      name="comments"
      cols="50"
      rows="8"> Enter your comments...</textarea>

    <input type="checkbox" id="anonymous" name="anonymous" value="checkbox">
    <label for="anonymous" > Make anonymous </label><br>

  </div>

  <div class="submitButton">
    <!-- Submit action  -->

    <button
      class="btn btn-primary"
      [disabled]="!allowSubmit"
      (click)="onCreateComment()">Submit </button>

    <p> {{commentCreationStatus}}</p>

  </div>

  <div class="rating-box-actions">



    <button
      class="btn-close btn-close-white"
      (click)="onClose()"> Close</button>

  </div>

</div>
