
<h1 [class.black] = "h1Style">Book Details</h1>
<!--Kinda like looping through the users-->


<!-- <ul *ngIf = "users">
   <li *ngFor = "let user of users.books">
   <p [class.blue] = "h1Style" >{{user.id}}<p>
   <p [class.red] = "h2Style">{{user.title}}</p>
   <p [class.black] = "h3Style">{{user.author}}</p>
   <p [class.green] = "h4Style">{{user.price}}</p>
   <p [class.tan] = "h5Style">{{user.format}}</p>
   <p [class.gray] = "h6Style">{{user.publisher}}</p>
   <p [class.blue] = "h7Style">{{user.pubdate}}</p>
   </li>
</ul> -->
<!--
<li ng-repeat = "book in Books">  for multiple book objects in the array

</li>
-->

<p [class.blue] = "h1Style">Book Id: {{Books[0].id}}</p>
<p [class.red] = "h2Style">Book Title: {{Books[0].title}}</p>
<p [class.black] = "h3Style">Book Author: {{Books[0].author}}</p>
<p [class.green] = "h4Style">Book Price: {{Books[0].price}}</p>
<p [class.tan] = "h5Style">Book Format: {{Books[0].format}}</p>
<p [class.gray] = "h6Style">Book Publisher: {{Books[0].publisher}}</p>
<p [class.blue] = "h7Style">Book Publisher Date: {{Books[0].pubdate}}</p>
 <!--<img [src] = "user.avatar"> -->
  <!--<p [class.brown] = "h3Style">{{user.Ratingarr}}</p> -->

<!--
<h2 [class.red] = "h2Style" > 2nd Home</h2>
<button (click) = "firstClick()"> Click me</button> 
-->

