<!--Feature 4 Book details HTML-->
<!-- <p>book-details works!</p> -->
<h1 [class.black] = "h1Style">Book Details</h1>
<div class = "scroll">
<img src="{{Books[0].cover}}" class = "img" alt="AltImage">    
<p [class.black] = "h1Style">Book Id: {{Books[0].id}}</p>
<p [class.red] = "h2Style">Book Title: {{Books[0].title}}</p>
<p [class.red] = "h2Style">Book Description: {{Books[0].info}}</p>
<p [class.red] = "h2Style">Book Genres: {{Books[0].genre[0]}}, {{Books[0].genre[1]}}, {{Books[0].genre[2]}}</p>
<p [class.blue] = "h3Style">Book Author: {{Books[0].author}}</p>
<p [class.blue] = "h3Style">Author Bio: {{Authors[0].bio}}</p>
<p [class.green] = "h4Style">Book Price: ${{Books[0].price}}</p>

<!--<p [class.black] = "h4Style">Customer's Name: {{Books[0].reviews[0].name}}</p>
<p [class.black] = "h4Style">Customer Review: {{Books[0].reviews[0].content}}</p>
<p [class.black] = "h4Style">Customer Review Rating: {{Books[0].reviews[0].rating}}</p>
-->

<p [class.black] = "h1Style" *ngFor="let i of Reviews"> Review Title: {{i.title}} Customer Review: {{i.content}} Customer Rating: {{i.rating}} Customer Name: {{i.name}}</p>
<p [class.black] = "h6Style">Book Publisher: {{Books[0].publisher}}</p>

<p [class.black] = "h4Style">Average Rating: {{Books[0].averageRating}}</p>

<!--<div [class.green] = "h5Style">
<img src="{{Books[0].cover}}" alt="AltImage">
Link to expandable book cover: 
<a href="{{Books[0].cover}}">{{Books[0].cover}}
</a>
</div>
-->

<p [class.black] = "h6Style">Book Publisher: {{Books[0].publisher}}</p>
<p [class.black] = "h6Style">Release Date: {{Books[0].release}}</p>

<!--<p [class.black] = "h7Style">Book Publisher Date: {{Books[0].pubdate}}</p>-->

<a href="http://localhost:4200/authorDetails/{{Books[0].author}}">{{Books[0].author}}</a>
<br>
<br>

 <!--rating and commenting page Feature-5-->
 <app-rating [bookName]="Books[0].title" [bookId]="Books[0].id" [bookCover]="Books[0].cover" [bookAuthor]=Books[0].author *ngIf="review" (close)="closeEvent()"></app-rating>


 <!--write a Review Feature-5 Luis-->
 <button type = "button"
         class="btn btn-success"
         (click)="writeReview()">
   Write A Review
 </button>

</div>
